.container {
	width: auto;
	height: 100svh;
	display: flex;
}
.navegation_main {
	width: 20%;
	height: 100%;
}
.navegation_main_fixed {
	width: 20%;
	height: 100%;	
 	position: fixed;
}
.post {
	width: 50%;
	height: auto;
}
.suggestions {
	width: 30%;
	height: 100%;
}
.suggestions_fixed {
	width: 30%;
	height: 100%;
	position: fixed;
}